footer {
background-color: $color-footer;
color: $color-blanco;
padding: 30px 20px;
margin-top: 40px;

.footer-content {
    @include contenedor;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;

    div {
    flex: 1;
    margin: 10px;
    }

    .social-links {
    a {
        margin: 0 10px;
        color: $color-secundario;
        font-weight: bold;

        &:hover {
        color: $color-blanco;
        }
    }
    }
}
}
