.productos {
@include contenedor;
margin: 50px auto;

h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
    color: $color-secundario;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.producto {
    @extend %card;
    text-align: center;
    transition: transform 0.3s ease;
    position: relative;

    &:hover {
    transform: translateY(-5px);
    }

    img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    }

    h3 {
    font-size: 1.1rem;
    margin: 10px 0;
    }

    p {
    font-size: 1rem;
    color: $color-gris;
    margin-bottom: 10px;
    }

    button {
    @include boton($color-secundario, $color-blanco);
    }

    // Etiquetas y precios de rebaja
    .precio-original {
    text-decoration: line-through;
    color: #888;
    font-size: 0.9rem;
    }

    .descuento {
    color: $color-secundario;
    font-weight: bold;
    font-size: 1.2rem;
    }

    .etiqueta-descuento {
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: #118102;
    color: $color-blanco;
    padding: 5px 10px;
    font-size: 0.9rem;
    border-radius: 5px;
    font-weight: bold;
    }
}
}
